<form class="ui raised segment divided grid">
<div class="row">
  <div class="twelve wide column">
      <h1>{{detail.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="twelve wide column">
      <h3>Student ID: {{detail.studentID}}</h3>
  </div>
</div>
<div class="row">
  <div class="twelve wide column">
      <h3>Address: {{detail.address}}</h3>
  </div>
</div>
<div class="row">
  <div class="twelve wide column">
      <h3>Telephone: {{detail.phoneNumber}}</h3>
  </div>
</div>

<div class="row">
  <div class="twelve wide column">
      <p><b>Notes: </b>{{detail.notes}}<p>
  </div>
</div>
</form>