<div class="ui primary inverted menu">
  <a class="ui item active" [routerLink]="['home']">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    Menu 1
  </a>
  <a class="item">
    Menu 2
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="item">
      <i class="user icon"></i>
    </a>
     <a class="item" [routerLink]="['help']">
       <i class="help circle icon"></i>
    </a>
  </div>
</div>